html, body {
  margin: 0px;
}

body {
  width: 100%;
  background: #BFE4FF;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  min-width: 700px;
}

a { color: #333; text-decoration: underline; }
a:link { color: #333; text-decoration: underline; }
a:hover { color: #333; text-decoration: none; }

img {
border:0px none;
}
.hidden {
display:none;
}
.right {
clear:none;
float:right;
}
.left {
clear:none;
float:left;
}
#license_agreement{
text-align:center;
}

#install-header {
  height: 60px;
  width: 100%;
  color: #FFF;
  background: #00487D;
  border-bottom: 8px solid #0066B3;
  line-height: 60px;
}
#install-header h1 {
  display: inline;
  margin-left: 14px;
  font-size: 2em;
  font-weight: bold;
}
#install-progress {
  float: left;
  clear: both;
  height: 40px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #80C9FF;
  list-style-type: none;
}
#install-progress li {
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 5px 2px;
  padding: 0px 15px;
  color: #000;
}
#install-progress li.selected {
  color: #FFF;
  background: #0066B3;
  font-weight: bold;
}

form {
margin-bottom:20px;
}
form div {
margin:auto;
padding:5px;
text-align:left;
width:400px;
}
form div input, form div textarea, form div select {
border:1px solid #AAAAAA;
font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
font-size:12px;
margin-top:2px;
padding:4px;
width:390px;
}
form div select {
width:100%;
}
form div input.submit {
height:30px;
width:200px;
}